<div class="c container">
  <h1>Test Your Wits with a Quiz Adventure - Choose To Play!</h1>

  <div class="r row">

    <div class="service">
      <a class="href" href="/login">
            <i class="fas fa-flask"></i> 
            <h2>Science</h2>
            <p>
              Explore the Mysteries of the Natural World and Satisfy Your Curiosity - Choose Science Today!
            </p>
          </a>
          </div>
    
          <div class="service">
            <a class="href" href="/login">
            <i class="fas fa-gamepad"></i> 
            <h2>Game Development</h2>
            <p>
              Enter the Exciting World of Game Development and Unleash Your Creativity - Choose to Play Now!        </p>
            </p>
          </a>
          </div>

          <div class="service">
            <a class="href" href="/login">
            <i class="fas fa-laptop-code"></i> 
            <h2>Software Development</h2>
            <p>
              Transform Your Ideas into Reality with Cutting-Edge Software Development - Choose to Explore Now!
            </p>
          </a>
          </div>

          <div class="service">
            <a  class="href" href="/login">
            <i class="fas fa-mobile-alt"></i>
            <h2>App Development</h2>
            <p>
              Unlock Your Full Potential in the Dynamic World of Web Development - Choose to Learn and Grow Now!
            </p>
          </a>
          </div>
    
      <div class="service">
            <a class="href" href="/login">
            <i class="fas fa-calculator"></i> 
            <h2>Math</h2>
            <p>
              Transform Your Ideas into Reality with Cutting-Edge Software Development - Choose to Explore Now!      
            </p>
          </a>
          </div>
    
    
      <div class="service">
            <a class="href" href="/login">
            <i class="fas fa-network-wired"></i>
            <h2>Networking</h2>
            <p>
              Connect the World and Power Up Your Career with Networking - Choose to Learn and Grow Now!
            </p>
          </a>
          </div>

  </div>

  
</div>
  
  <style>

    @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');
    .href {
  text-decoration: none;
  color: var(--bs-secondary-color)!important;
}
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
  }
  
  .c {
    width: 100%;
    height: 100%;
    padding: 0px 8%;
  }
  
  .container h1 {
    text-align: center;
    padding-top: 10%;
    margin-bottom: 60px;
    font-weight: 600;
    position: relative;
  }
  
  .container h1::after {
    content: '';
    background: #303ef7;
    width: 100px;
    height: 5px;
    position: absolute;
    bottom: -5px;
    left: 50%;
    transform: translateX(-50%);
  }
  
  .r {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 30px;
  }
  
  .service {
    text-align: center;
    padding: 25px 10px;
    border-radius: 5px;
    font-size: 14px;
    cursor: pointer;
    background: transparent;
    transition: transform 0.5s, background 0.5s;
  }
  
  .service i {
    font-size: 40px;
    margin-bottom: 10px;
    color: #303ef7;
  }
  
  .service h2 {
    font-weight: 600;
    margin-bottom: 8px;
  }
  
  .service:hover {
    background: #303ef7;
    color: #fff;
    transform: scale(1.05);
  }
  
  .service:hover i {
    color: #fff;
  }
  </style>

